{% extends layout %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Hello {{ templateVar }}</h1>
        <p class="lead">This is the PrestoPHP Skeleton application</p>
    </div>
{% endblock %}
